---
import "@fontsource/play";
import "@fontsource/lato";
import "@fontsource/poppins";

import { Image } from "@astrojs/image/components";

import Layout from "@layouts/Layout.astro";

import { Navbar } from "@components/HomeNavbar";
import Footer from "@components/HomeFooter/index.astro";

import PenjelasanLogo from "@assets/penjelasan-logo.png";
import scioImage from "@assets/kir-transparent.png";

import logoOlim from "@assets/logo-olim.png";
import logoTeknik from "@assets/logo-teknik.png";
import logoKti from "@assets/logo-kti.png";

const allCard = [
  {
    heading: "Olimpiade",
    image: logoOlim,
  },
  {
    heading: "Teknik",
    image: logoTeknik,
  },
  {
    heading: "Karya Tulis Ilmiah",
    image: logoKti,
  },
];
---

<Layout title="Selamat Datang | SCIO 12">
  <Navbar client:idle>
    <Image
      class="logo"
      width={32}
      height={32}
      src={scioImage}
      alt="Gambar logo scio 12"
    />
  </Navbar>

  <main>
    <section id="header">
      <canvas></canvas>
      <div>
        <h1>SCIO 12</h1>
        <h3>SMA Negeri 12 Kota Bekasi</h3>
      </div>
    </section>

    <section id="siapa-kami">
      <h1>Siapa Kami?</h1>
      <div class="flex one two-1200">
        <div>
          <p>
            KIR adalah singkatan dari Kelompok Ilmiah Remaja, ekstrakurikuler
            ini bertujuan untuk mengembangkan bakat dan minat siswa khususnya
            dalam bidang ilmiah dan mengikuti kompetisi atau perlombaan. Latar
            belakang terbentuknya ekstrakurikuler ini karena belum ada
            organisasi yang fokus dibidang akademik atau keilmiahan.
          </p>
        </div>
        <div>
          <p>
            Tanggal dibentuk ekstrakurikuler KIR ini pada tanggal 16 Juli 2016,
            diresmikan pada 21 Juli 2016. SCIO 12 diambil dari bahasa latin{" "}
            <i>SCIO</i> yang memiliki arti <i>Aku Tahu</i>. Empat lingkaran
            sebagai pengganti huruf "O" dengan masing-masing warna kuning, biru,
            merah, dan hijau melambangkan setiap bidang studi.
          </p>
        </div>
        <div class="image-container">
          <Image
            src={PenjelasanLogo}
            class="penjelasan-image"
            alt="Gambar yang berisi penjelasan makna dari warna logo ekstrakurikuler KIR."
            aspectRatio="16:9"
            width={920}
          />
        </div>
      </div>
    </section>

    <section id="divisi">
      <h1>Divisi</h1>
      <div class="flex one three-1200">
        {
          allCard.map((card) => (
            <div class="upper-div">
              <Image
                src={card.image}
                alt={`Logo dari divisi ${card.heading}`}
                width={215}
                height={215}
                class="hero-img"
              />
              <article class="card">
                <footer>
                  <h2>{card.heading}</h2>

                  <p>
                    Lorem ipsum dolor sit amet, qui minim labore adipisicing
                    minim sint cillum sint consectetur cupidatat. Lorem ipsum
                    dolor sit amet, qui minim labore adipisicing minim sint
                    cillum sint consectetur cupidatat. Lorem ipsum dolor sit
                    amet, qui minim labore adipisicing minim sint cillum sint
                    consectetur cupidatat.
                  </p>
                </footer>
              </article>
            </div>
          ))
        }
      </div>
    </section>

    <section id="bergabung">
      <h1>Bergabung</h1>
      <div class="flex one">
        <div>
          <p>
            Lorem ipsum dolor sit amet, officia excepteur ex fugiat
            reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit
            ex esse exercitation amet. Nisi anim cupidatat excepteur officia.
            Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate
            voluptate dolor minim nulla est proident. Nostrud officia pariatur
            ut officia. Sit irure elit esse ea nulla sunt ex occaecat
            reprehenderit commodo officia dolor Lorem duis laboris cupidatat
            officia voluptate. Culpa proident adipisicing id nulla nisi laboris
            ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo
            ex non excepteur duis sunt velit enim. Voluptate laboris sint
            cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
          </p>
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style is:global>
  body {
    font-family: "Poppins", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif;
  }

  /* header style */
  #header {
    color: #eaeaea;
    background-color: #0e1118;
    width: 100%;
    height: 100vh;
  }

  #header canvas {
    position: absolute;
  }

  #header canvas,
  #header div {
    width: 100%;
    height: 100%;
  }

  #header div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #header h1,
  #header h2 {
    font-family: "Play", sans-serif;
    padding: 0.01em 0;
  }

  #header h1 {
    font-weight: 700;
    font-size: 4.3em;
  }

  #header h2 {
    font-weight: 400;
    font-size: 1.8em;
  }

  @media (max-width: 500px) {
    #header h1 {
      font-size: 3.9em;
    }

    #header h2 {
      font-size: 1.4em;
    }
  }

  @media (max-width: 360px) {
    #header h1 {
      font-size: 3.5em;
    }

    #header h2 {
      font-size: 1em;
    }
  }

  /* siapa kami */
  #siapa-kami {
    width: 100%;
    margin: 0 auto;
    padding: 75px 0;
    text-align: left;
    max-width: 1100px;
  }

  #siapa-kami h1 {
    font-weight: bold;
    font-size: 2.8em;
  }

  #siapa-kami p {
    font-size: 1.3em;
    padding-right: 16px;
  }

  #siapa-kami .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #siapa-kami .penjelasan-image {
    width: 100%;
    height: auto;
  }

  @media (max-width: 1122px) {
    #siapa-kami {
      padding: 75px 20px;
    }
  }

  @media (max-width: 1000px) {
    #siapa-kami p {
      font-size: 1.2em;
    }
  }

  @media (max-width: 800px) {
    #siapa-kami h1 {
      font-size: 2.2em;
    }

    #siapa-kami p {
      font-size: 1em;
    }
  }

  /* divisi */
  #divisi {
    width: 100%;
    min-height: 120vh;
    margin: 0 auto;
    padding: 75px 0;
    text-align: center;
    max-width: 1100px;
  }

  #divisi h1 {
    font-weight: bold;
    font-size: 2.8em;
  }

  #divisi h2 {
    font-weight: 600;
    text-align: center;
  }

  #divisi p {
    font-size: 1.3em;
    padding-right: 16px;
  }

  #divisi .hero-img {
    margin-top: 1em;
    z-index: 12;
    position: relative;
    border-size: 50%;
  }

  #divisi .card {
    transform: translateY(-5.9em);
  }

  #divisi footer {
    margin-top: 5rem;
  }

  #divisi .upper-div {
    padding-bottom: 0;
    padding-top: 0;
  }

  @media (max-width: 1122px) {
    #divisi {
      padding: 75px 20px;
    }
  }

  @media (max-width: 1199px) {
    #divisi .hero-img {
      margin-top: 0.5em;
    }
  }

  @media (max-width: 800px) {
    #divisi h1 {
      font-size: 2.2em;
    }

    #divisi p {
      font-size: 1em;
    }
  }

  /* bergabung */
  #bergabung {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 75px 0;
    text-align: left;
    max-width: 1100px;
  }

  #bergabung h1 {
    font-weight: bold;
    font-size: 2.8em;
  }

  #bergabung p {
    font-size: 1.3em;
    padding-right: 16px;
  }

  @media (max-width: 1122px) {
    #bergabung {
      padding: 75px 20px;
    }
  }

  @media (max-width: 800px) {
    #bergabung h1 {
      font-size: 2.2em;
    }

    #bergabung p {
      font-size: 1em;
    }
  }

  @media (max-width: 489px) {
    #bergabung {
      height: 120vh;
    }
  }
</style>

<script type="module" hoist>
  import Starback from "starback";

  const canvas = document.querySelector("#header canvas");
  new Starback(canvas, {
    type: "dot",
    quantity: 115,
    direction: 1,
    backgroundColor: ["#0e1118"],
    randomOpacity: true,
  });
</script>
