---
import "@fontsource/play";
import "@fontsource/lato";
import "@fontsource/poppins";

import { Image } from "@astrojs/image/components";
import { Navbar } from "@components/Navbar";

import Layout from "@layouts/Layout.astro";

import PenjelasanLogo from "@assets/penjelasan-logo.png";
import scioImage from "@assets/kir-transparent.png";

import logoOlim from "@assets/logo-olim.png";
import logoTeknik from "@assets/logo-teknik.png";
import logoKti from "@assets/logo-kti.png";

const allCard = [
  {
    heading: "Olimpiade",
    image: logoOlim,
    explanation: "Siapkan dirimu untuk tantangan mengikuti kompetisi dengan bergabung dalam Divisi Olimpiade kami! Dapatkan pengalaman berharga dalam mengikuti lomba bergengsi dan raih prestasi yang akan menjadi kebanggaanmu. Buatlah portfolio unggulan yang akan membuka pintu kesuksesanmu di dunia akademik!"
  },
  {
    heading: "Teknik",
    image: logoTeknik,
    explanation: "Apakah kamu memiliki semangat eksperimen dan ingin menguji batasan kemampuanmu? Divisi Teknik adalah wadah bagi pemimpi dan penemu masa depan. Bergabunglah dengan kami dan temukan kesenangan menciptakan inovasi dan merasakan sensasi menemukan solusi bagi masalah-masalah nyata!"
  },
  {
    heading: "Karya Tulis Ilmiah",
    image: logoKti,
    explanation: "Ingin mengeksplorasi bidang ilmiah dan mengasah kemampuan menulismu? Divisi KTI adalah tempat yang tepat! Bergabunglah dengan kami untuk menggali pengetahuan, menyelami riset, dan menghasilkan karya ilmiah yang akan memukau dunia. Dengan KTI, tak ada batasan bagi imajinasimu!"
  },
];
---

<Layout title="Kelompok Ilmiah Remaja SMA Negeri 12 Bekasi">
  <Navbar client:idle>
    <Image
      class="ml-[2px]"
      width={32}
      height={32}
      src={scioImage}
      alt="Gambar logo scio 12"
    />
  </Navbar>

  <main class="dark:bg-neutral-950">
    <section
      id="hero"
      class="flex h-screen justify-left items-center sm:p-16 p-10 bg-neutral-900"
    >
      <div class="flex gap-5 flex-col">
        <h1
          class="text-gray-50 font-bold text-3xl md:text-4xl lg:text-5xl font-lato"
        >
          Bersatu kita berkreasi,
        </h1>
        <h3
          class="text-gray-50 font-bold text-3xl md:text-4xl lg:text-5xl font-poppins"
        >
          Berprestasi kita <u>berambisi.</u>
        </h3>
      </div>
    </section>

    <section
      id="siapa-kami"
      class="m-auto min-h-[160vh] px-6 pt-24 sm:px-14 sm:pt-28 md:px-16"
    >
      <h1
        class="font-bold dark:text-gray-50 font-poppins text-3xl sm:text-3xl md:text-4xl lg:text-5xl mb-8"
      >
        Siapa Kami?
      </h1>
      <div
        class="font-light font-lato flex flex-wrap gap-10 text-xl md:flex-nowrap md:gap-18 lg:gap-12 lg:text-2xl leading-loose"
      >
        <p>
          KIR adalah singkatan dari Kelompok Ilmiah Remaja, ekstrakurikuler ini
          bertujuan untuk mengembangkan bakat dan minat siswa khususnya dalam
          bidang ilmiah dan mengikuti kompetisi atau perlombaan. Latar belakang
          terbentuknya ekstrakurikuler ini karena belum ada organisasi yang
          fokus dibidang akademik atau keilmiahan.
        </p>
        <p>
          Tanggal dibentuk ekstrakurikuler KIR ini pada tanggal 16 Juli 2016,
          diresmikan pada 21 Juli 2016. SCIO 12 diambil dari bahasa latin{" "}
          <i>SCIO</i> yang memiliki arti <i>Aku Tahu</i>. Empat lingkaran
          sebagai pengganti huruf "O" dengan masing-masing warna kuning, biru,
          merah, dan hijau melambangkan setiap bidang studi.
        </p>
      </div>
      <div class="w-full flex justify-center mt-6">
        <Image
          src={PenjelasanLogo}
          class="penjelasan-image"
          alt="Gambar yang berisi penjelasan makna dari warna logo ekstrakurikuler KIR."
          aspectRatio="16:9"
          width={920}
        />
      </div>
    </section>

    <section
      id="divisi"
      class="m-auto min-h-[160vh] px-6 pt-20 sm:px-14 sm:pt-20 md:px-16"
    >
      <h1
        class="font-bold text-center dark:text-gray-50 font-poppins text-4xl sm:text-4xl md:text-5xl lg:text-6xl mb-8"
      >
        Divisi
      </h1>
      <div class="grid grid-cols-1 gap-10 md:gap-5 md:grid-cols-2 lg:grid-cols-3 items-center lg:mt-28">
        {
          allCard.map((card) => (
            <div class="border rounded flex flex-wrap justify-center min-h-full">
              <Image
                src={card.image}
                alt={`Logo dari divisi ${card.heading}`}
                width={210}
                height={210}
                class="mt-6 lg:mt-0 lg:transform lg:-translate-y-20"
              />
              <div class="p-6 lg:transform lg:-translate-y-20">
                  <h2 class="font-bold font-poppins text-xl sm:text-xl md:text-2xl lg:text-3xl mb-5">{card.heading}</h2>

                  <p class="font-light font-lato text-lg lg:text-xl leading-loose">{card.explanation}</p>
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section id="bergabung"
      class="m-auto min-h-[120vh] px-6 pt-24 sm:px-14 sm:pt-28 md:px-16"

     >
      <h1
        class="font-bold dark:text-gray-50 font-poppins text-3xl sm:text-3xl md:text-4xl lg:text-5xl mb-8"
      >
        Bergabung
      </h1>
      <p class="font-lato text-2xl">Kamu bisa bergabung dengan mengisi form dan konformasi dengan menghubungi narahubung di bawah ini yaa!</p>
        <div class="grid grid-cols-1 justify-between md:grid-cols-2 gap-5 sm:gap-3 md:gap-2 mt-8">
          <div class="border rounded flex flex-wrap justify-center min-h-full">
            form
          </div>
          <div class="border rounded flex flex-wrap justify-center min-h-full">
            narahubung
          </div>
        </div>
    </section>
  </main>
</Layout>
