---
import { Icon } from "astro-icon/components";

import { Image } from "astro:assets";
import { Navbar } from "@components/HomeNavbar";

import Layout from "@layouts/Layout.astro";

import PenjelasanLogo from "@assets/penjelasan-logo.png";
import scioImage from "@assets/kir-transparent.png";
import QRDaftar from "@assets/qr-daftar.png";

import logoOlim from "@assets/logo-olim.png";
import logoTeknik from "@assets/logo-teknik.png";
import logoKti from "@assets/logo-kti.png";

const allCard = [
  {
    heading: "Olimpiade",
    image: logoOlim,
    explanation:
      "Siapkan dirimu untuk tantangan mengikuti kompetisi dengan bergabung dalam Divisi Olimpiade kami! Dapatkan pengalaman berharga dalam mengikuti lomba bergengsi dan raih prestasi yang akan menjadi kebanggaanmu. Buatlah portfolio unggulan yang akan membuka pintu kesuksesanmu di dunia akademik!",
  },
  {
    heading: "Teknik",
    image: logoTeknik,
    explanation:
      "Apakah kamu memiliki semangat eksperimen dan ingin menguji batasan kemampuanmu? Divisi Teknik adalah wadah bagi pemimpi dan penemu masa depan. Bergabunglah dengan kami dan temukan kesenangan menciptakan inovasi dan merasakan sensasi menemukan solusi bagi masalah-masalah nyata!",
  },
  {
    heading: "Karya Tulis Ilmiah",
    image: logoKti,
    explanation:
      "Ingin mengeksplorasi bidang ilmiah dan mengasah kemampuan menulismu? Divisi KTI adalah tempat yang tepat! Bergabunglah dengan kami untuk menggali pengetahuan, menyelami riset, dan menghasilkan karya ilmiah yang akan memukau dunia. Dengan KTI, tak ada batasan bagi imajinasimu!",
  },
];
---

<Layout
  title="Kelompok Ilmiah Remaja SMA Negeri 12 Bekasi"
  description="KIR adalah singkatan dari Kelompok Ilmiah Remaja, tujuannya mengembangkan minat murid di bidang IPA dan teknologi."
>
  <Navbar client:idle>
    <Image
      class="ml-[2px]"
      width={32}
      height={32}
      src={scioImage}
      format={"webp"}
      alt="Gambar logo scio 12"
    />
  </Navbar>

  <main>
    <section
      id="hero"
      class="flex h-screen justify-left items-center sm:p-16 p-10 bg-neutral-900 bg-cover bg-[url('/spacex-bg.webp')]"
    >
      <div class="flex gap-5 flex-col">
        <h1
          class="text-gray-50 font-bold text-3xl md:text-4xl lg:text-5xl font-lato"
        >
          Bersatu kita berprestasi,
        </h1>
        <h2
          class="text-gray-50 font-bold text-3xl md:text-4xl lg:text-5xl font-poppins"
        >
          Berkreasi kita <u>berambisi.</u>
        </h2>
      </div>
    </section>

    <section
      id="siapa-kami"
      class="m-auto min-h-[160vh] px-6 pt-24 sm:px-14 sm:pt-28 md:px-16"
    >
      <h1
        class="font-bold dark:text-gray-50 font-poppins text-3xl sm:text-3xl md:text-4xl lg:text-5xl mb-8"
      >
        Siapa Kami?
      </h1>
      <div
        class="font-light font-lato flex flex-wrap gap-10 text-xl md:flex-nowrap md:gap-18 lg:gap-12 lg:text-2xl leading-loose"
      >
        <p>
          KIR adalah singkatan dari Kelompok Ilmiah Remaja, ekstrakurikuler ini
          bertujuan untuk mengembangkan bakat dan minat siswa khususnya dalam
          bidang ilmiah dan mengikuti kompetisi atau perlombaan. Latar belakang
          terbentuknya ekstrakurikuler ini karena belum ada organisasi yang
          fokus dibidang akademik atau keilmiahan.
        </p>
        <p>
          Tanggal dibentuk ekstrakurikuler KIR ini pada tanggal 16 Juli 2016,
          diresmikan pada 21 Juli 2016. SCIO 12 diambil dari bahasa latin{" "}
          <i>SCIO</i> yang memiliki arti <i>Aku Tahu</i>. Empat lingkaran
          sebagai pengganti huruf "O" dengan masing-masing warna kuning, biru,
          merah, dan hijau melambangkan setiap bidang studi.
        </p>
      </div>
      <div class="font-light font-lato text-xl mt-6 lg:text-2xl leading-loose">
        <p>
          Untuk kegiatan reguler rutin, biasa diadakan setiap hari <u
            class="font-bold">Rabu</u
          >!
        </p>
      </div>
      <div class="w-full flex justify-center mt-6">
        <Image
          src={PenjelasanLogo}
          format={"webp"}
          class="penjelasan-image"
          alt="Gambar yang berisi penjelasan makna dari warna logo ekstrakurikuler KIR."
          width={920}
        />
      </div>
    </section>

    <section
      id="divisi"
      class="m-auto min-h-[160vh] px-6 pt-20 sm:px-14 sm:pt-20 md:px-16"
    >
      <h1
        class="font-bold text-center dark:text-gray-50 font-poppins text-4xl sm:text-4xl md:text-5xl lg:text-6xl mb-8"
      >
        Divisi
      </h1>
      <div
        class="grid grid-cols-1 gap-10 md:gap-5 md:grid-cols-2 lg:grid-cols-3 items-center lg:mt-28"
      >
        {
          allCard.map((card) => (
            <div class="border rounded flex flex-wrap justify-center min-h-full">
              <Image
                src={card.image}
                alt={`Logo dari divisi ${card.heading}`}
                format={"webp"}
                width={210}
                height={210}
                class="mt-6 lg:mt-0 lg:transform lg:-translate-y-20"
              />
              <div class="p-6 lg:transform lg:-translate-y-20">
                <h2 class="font-bold font-poppins text-center text-xl sm:text-xl md:text-2xl lg:text-3xl mb-5">
                  {card.heading}
                </h2>

                <p class="font-light font-lato text-lg lg:text-xl leading-loose">
                  {card.explanation}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section
      id="kontak"
      class="m-auto min-h-[120vh] px-6 pt-24 sm:px-14 sm:pt-20 md:px-16"
    >
      <h1
        class="font-bold dark:text-gray-50 font-poppins text-3xl sm:text-3xl md:text-4xl lg:text-5xl mb-8"
      >
        Kontak
      </h1>
      <p class="font-lato font-light text-2xl">
        Ingin bergabung, atau masih ada pertanyaan? Cek beberapa <i>resource</i>
        dibawah ini yaa!
      </p>
      <div
        class="grid grid-cols-1 justify-between sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8"
      >
        <div
          class="border rounded flex flex-col justify-between p-5 text-gray-50 bg-[#075E54] md:h-80"
        >
          <div>
            <div
              class="flex justify-center flex-col sm:flex-col gap-2 md:flex-row items-center"
            >
              <Icon name="whatsapp" class="!w-16 !h-16" />

              <h1
                class="font-poppins text-2xl font-semibold text-center mt-2 sm:mt-2"
              >
                Contact Person (WA)
              </h1>
            </div>

            <hr class="mt-4 w-full" />
          </div>

          <div class="text-center my-10 lg:my-0">
            <h2 class="text-2xl font-lato font-bold">Kak Nasya</h2>
            <h2 class="text-2xl font-lato">+62 8810-2417-7774</h2>
          </div>

          <div>
            <a
              class="bg-gray-50 text-xl block w-full text-center text-[#075E54] rounded font-lato"
              href="https://wa.me/62881024177774"
              target="_blank"
              rel="noopener noreferrer">Chat</a
            >
          </div>
        </div>

        <div
          class="border rounded flex flex-col justify-between p-5 text-gray-50 bg-[#075E54] md:h-80"
        >
          <div>
            <div
              class="flex justify-center flex-col sm:flex-col gap-2 md:flex-row items-center"
            >
              <Icon name="whatsapp" class="!w-16 !h-16" />

              <h1
                class="font-poppins text-2xl font-semibold text-center mt-2 sm:mt-2"
              >
                Contact Person (WA)
              </h1>
            </div>

            <hr class="mt-4 w-full" />
          </div>

          <div class="text-center my-10 lg:my-0">
            <h2 class="text-2xl font-lato font-bold">Kak Zalika</h2>
            <h2 class="text-2xl font-lato">+62 8586-1129-561</h2>
          </div>

          <div>
            <a
              class="bg-gray-50 text-xl block w-full text-center text-[#075E54] rounded font-lato"
              href="https://wa.me/6285861129561"
              target="_blank"
              rel="noopener noreferrer">Chat</a
            >
          </div>
        </div>

        <a
          href="https://instagram.com/scio12_"
          target="_blank"
          class="border rounded flex flex-col items-center justify-center p-5 font-semibold text-gray-50 hover:text-[#ffd366] gap-6 bg-[#E1306C] font-poppins text-2xl"
          rel="noopener noreferrer"
        >
          <Icon name="instagram-outline" class="!w-20 !h-20" />

          @scio12_
        </a>
      </div>
    </section>
  </main>

  <footer
    class="flex flex-wrap items-center justify-between px-4 border-t border-solid border-zinc-200 h-14 w-full mt-10"
  >
    <p
      class="ml-2 h-[inherit] flex items-center font-play font-semibold text-xl"
    >
      <span>SCI</span>
      <Image
        class="ml-[2px]"
        width={32}
        height={32}
        src={scioImage}
        format={"webp"}
        alt="Gambar logo scio 12"
      />
      <span class="ml-1">12</span>
    </p>
    <div class="flex gap-3">
      <a
        href="https://instagram.com/scio12_"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Halaman instagram KIR SMAN 12 Bekasi"
      >
        <Icon name="instagram" />
      </a>

      <a
        href="https://github.com/scio12"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Halaman Github KIR SMAN 12 Bekasi"
      >
        <Icon name="github" />
      </a>
    </div>
  </footer>

  <style lang="css">
    [astro-icon] {
      width: 3em;
      height: 3em;
    }
  </style>
</Layout>
